* text=auto eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.pt binary
*.pth binary
*.ckpt binary
licenses/*.txt -whitespace
